<!DOCTYPE html>
<html lang="en">
<head>
    <title>Week 10 Lab</title>
</head>
<body>
    <div id="app">
        <h1>Week 10 Lab</h1>
        <input type="text" placeholder="First Name" v-model="firstName">
        <input type="text" placeholder="Last Name" v-model="lastName">
        
       
        <p>Full Name: {{ fullName }}</p>
        
        
        <input type="number" placeholder="{{quantity}}" v-model="quantity" min="0">
        
       
        <p>Price per Item: ${{ pricePerItem }}</p>
        <p>Total Price: ${{ totalPrice }}</p>
        
        
        <button @click="clearFields">Clear Fields</button>
    </div>
    
    
    <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.prod.js"></script>
    
    <script src="scripts/app.js"></script>
</body>
</html>